extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Jimmy Dorvilus

        p.lead.text-light
          | Front-End & Full Stack JavaScript Developer.

        .portfolio-bio
        p
          | Hey there! Welcome to my Portfolio.
          br
          | I am a Certified Front-End Web Developer, with marketing and Customer support background.
          br
          | I have been building web applications using HTML, CSS (Bootstrap, SCSS), and JavaScript (JQuery). I am currently undertaking a full-stack Javascript course on Teamtreehouse.com.
          br
          | f you are looking for a fast learner, a meticulous and passionate individual? Look no further. I am the one.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS (BootStrap)
          li JavaScript (jQuery, Node.js, React)
          li PHP
        h6 Contact Info

        //- Add your own contact info
        ul
          li 829-555-1234
          li jimmyd@soarvs.com

        a.button.expanded(href='https://www.linkedin.com/in/jimmy-dorvilus-16a83133/', target='blank') LinkedIn
        a.button.expanded(href='https://github.com/Jd536', target='blank') GitHub
        a.button.expanded(href='https://twitter.com/Excelcior1', target='blank') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
